* {
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  flex-direction: column; */
  min-height: 300vh;
}

h2 {
  text-align: center;
  margin: 20px auto;
}

p {
  text-align: center;
}

.random-colors {
  margin: auto;
}

.random-colors td {
  height: 30px;
  width: 30px;
}

.tab__container {
  margin: auto;
  font-size: 0;
  position: relative;
  width: 60vw;
  /* height: 300px; */
}

.tab__tabs {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  z-index: 1;
  margin-bottom: -2px;
  color: grey;
  text-align: center;
  display: inline-block;
  /* width: 33%; */
  padding: 5px 20px;
  min-width: 50px;
  border: 1px solid blue;
  background-color: white;
}

.tab__tabs.active {
  color: black;
  border-width: 2px;
  border-bottom: 2px solid white;
}

.tab__content {
  opacity: 0;
  padding: 5px;
  visibility: hidden;
  position: absolute;
  width: 100%;
  border: 2px solid blue;
  text-align: justify;
  background-color: white;
}

.tab__content.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
}
